
/*
css untuk index
*/

body{
	background:url(../images/bg.jpg) no-repeat top center #97cae4;
}

form {
	margin: 0;
	padding: 0;
}

fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

input, textarea {
	font: normal 1em Georgia, "Times New Roman", Times, serif;
}

h1, h1 a, h2, h2 a, h3, h3 a {
	margin: 0;
	text-decoration: none;
	color: #333333;
}

h3 {
	margin-bottom: 1em;
	font-size: 1em;
}

p, ol, ul {
	margin: 0 0 2em 0;
	line-height: 200%;
}

img {
	border: none;
}

/* Header */

#header {
	width: 770px;
	height: 100px;
	margin: 0 auto;
	background:url(../images/middle_banner.gif) no-repeat center;
}
#logo{
padding:30px 0 0 20px;
float:left;
}

#header h1 {
	float: left;
	padding: 30px 0 0 30px;
	font-size: 3.2em;
	color: #4a749f;
}

/* Menu */

#menu {
	width: 770px;
	height: 45px;
	margin: 0 auto;
	background: url(../images/img02.jpg) no-repeat;
	overflow:hidden;
	font:bold 90%/1 "tahoma",sans-serif;
}
    #menu ul {margin:0 20px; list-style:none;}
    #menu li {display:inline;}
    #menu li a {display:block; float:left; padding:10px 20px 17px 18px; background:url("../images/tray-separator.gif") 100% 0 no-repeat; text-decoration:none;}
    #menu li a:hover {background:url("../images/tray-hover.gif");}
    #menu li#menu-active a {background:url("../images/tray-active.gif");}
    #menu li img {float: left; padding: 0;}
/*.... end menu....*/

/* .... ISI..... */

#page {
	width: 770px;
	margin: 0 auto;
	background: url(../images/img05.gif);
}

#extra {
	/*background: url(../images/img06.gif) no-repeat left bottom;*/
}

/* Content */

#content {
	float: left;
	width: 530px;
	/*background: url(../images/img03.gif) no-repeat;*/
}

.post {
	padding: 40px 40px 0 40px;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 240px;
	background: url(../images/img04.gif) no-repeat;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}



#sidebar li ul {
	padding: 20px;
}

#sidebar h2 {
	height: 33px;
	padding: 4px 0 0 10px;
	background: url(../images/img07.jpg) no-repeat;
	font-size: 1.6em;
}

/* Search */

#searchform {
	padding: 20px;
}

#search h2 {
	background: url(../images/img08.jpg) no-repeat;
}



#search #s {
	width: 120px;
}


/* Calendar */

#calendar_wrap {
	padding: 20px 25px 20px 20px;
}

#calendar table {
	width: 100%;
	background: #FFFFFF;
	border: 1px solid #16B1B0;
	text-align: center;
}

/* ..... end Isi..... */

/* Footer */

#footer {
	clear: both;
	width: 950px;
	margin: 0 auto;
	padding: 30px 0;
	background: url(../images/img08.gif) no-repeat;
}

#footer p {
	margin: 0 0 5px 0;
	text-align: center;
	line-height: normal;
	font-size: .9em;
}



