#overBox{width:100%;height:100%; top:0;background:rgba(0,0,0,0.5);position: fixed; left: 0;}
.wrap{width:300px;margin:100px auto; background:white;}
				.head{background:rgba(100,200,100,0.9);font:0.6em arial;}