#mytable{
  width: 650px;
  padding: 0;
  margin: 0 50px 0 0px;
 
}

th {
  text-align: center;
  padding: 6px 6px 6px 12px;
  background: #CAE8EA url(../images/bg_header.jpg) no-repeat;
}

td {
  border-right: 1px solid #C1DAD7;
  border-bottom: 1px solid #C1DAD7;
  background: #fff;
  padding: 6px 6px 6px 12px;
  color: #4f6b72;
}
